<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-inverse text-light">
                <tr>
                    <th>Filename</th>
                    <th>Size</th>
                    <th>Updated</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody class="text-light">
                {% assign sorted = (api | sort: 'fileTimestamp') | reverse %}
                {% for files in sorted %}
                    {% if files.file != api.last.file %}
                        <tr>
                            <td scope="row">{{ files.file }}</td>
                            <td>{{ files.filesize }}</td>
                            <td>{{ files.fileTimestamp | date_to_long_string}}</td>
                            <td>
                                <a href="{{ filehost }}/{{ files.file }}" class="btn btn-sm btn-primary"><i class="fa fa-download"></i> Download</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
