<tr>
    <td class="font-weight-bold" scope="row">Name</td>
    <td>{{ project.title }}</td>
</tr>
<tr>
    <td class="font-weight-bold" scope="row">Version</td>
    <td>{{ project.version }}</td>
</tr>
<tr>
<td class="font-weight-bold" scope="row">Maintainer</td>
    {% if project.maintainer_override %}
    <td>{{ project.maintainer_override }}</td>
    {% else %}
    <td>{{ project.maintainer }}</td>
    {% endif %}
</tr>
{% if project.android_version %}
<tr>
    <td class="font-weight-bold" scope="row">Android Version</td>
    <td>{{ project.android_version }}</td>
</tr>
{% endif %}
<tr>
    <td class="font-weight-bold" scope="row">Build SELinux</td>
    <td>{{ project.build_selinux }}</td>
</tr>
<tr>
    <td class="font-weight-bold" scope="row">Build Type</td>
    <td>{{ project.build_type }}</td>
</tr>
<tr>
    <td class="font-weight-bold" scope="row">Build Varient</td>
    <td>{{ project.build_varient }}</td>
</tr>
{% if project.android_version %}
<tr>
    <td class="font-weight-bold" scope="row">Build Signing Keys</td>
    <td>{{ project.build_signature }}</td>
</tr>
{% endif %}
