<h4>Prerequisites</h4>
<ul>
    <li>Unlocked Bootloader</li>
    <li>Working TWRP Recovery</li>
</ul>
<h4>Installing {{ project.title }} {{ project.version }}</h4>
<ul>
    <li>Download the <a href="{{ filehost }}/{{ api.last.file }}">latest</a> build of {{ project.title }} {{ project.version }}.</li>
    <li>Boot into recovery mode. ( Hold VOLUME-UP and POWER button)</li>
    <li>(Optional) Backup existing data.</li>
    <li>Format Data, this will wipe your data and remove encryption.</li>
    <li>Wipe cache and system.</li>
    <li>Select the downloaded {{ project.title }} zip and flash.</li>
    <li>(Optional) Install <a href="https://opengapps.org/" target="_blank">Gapps</a> or a working SU binary.</li>
    <li>Reboot to system.</li>
</ul>