<div class="container text-light">
    <div class="row">
        <div class="col-md-8">
            <h2>Download</h2>
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <a href="{{ filehost }}/{{ api.last.file }}" class="card text-center text-light bg-grad-teal-fantasy">
                        <div class="card-body">
                            <h1 class="fa fa-file-download" style="font-size: 48pt;"></h1>
                            <h4 style="margin:0;" class="card-title">Latest Build</h4>
                            <small>
                                Size: {{ api.last.filesize }} <br/>
                                Updated: {{ api.last.fileTimestamp | date_to_long_string }}
                            </small>
                        </div>
                    </a>
                </div>
                {% assign archive_size = api.size | minus: 1 %}
                {% if archive_size != 0 %}
                <div class="col-sm-6 col-lg-4">
                    <a href="archive" class="card text-center text-light bg-grad-orange-fantasy">
                        <div class="card-body">
                            <h1 class="fa fa-archive" style="font-size: 48pt;"></h1>
                            <h4 style="margin:0;" class="card-title">Older builds</h4>
                            <small>
                                Archive files: {{ archive_size }} <br/>
                                {% assign archive_updated = archive_size | minus: 1 %}
                                Updated: {{ api[archive_updated].fileTimestamp | date_to_long_string }}
                            </small>
                        </div>
                    </a>
                </div>
                {% endif %}
            </div>
            {% if page.dir contains 'roms' %}
            <h2>Installation Guide</h2>
            <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#installGuide" aria-expanded="false" aria-controls="collapseExample">
                See More <i class="fa fa-chevron-down"></i>
            </button>
            <div class="collapse" id="installGuide">
                <div class="card text-left bg-grey-900" style="margin-top: 1rem;">
                    <div class="card-body">
                        {% include templates/install_guide.html %}
                    </div>
                </div>
            </div>
            {% endif %}
            <h2>Source Code</h2>
                {% for source in project.sourcecode %}
                    <p><a target="_blank" href="{{ source.link }}">{{ source.name }}</a></p>
                {% endfor %}
            <h2>Changelog</h2>
            
        </div>
        <div class="col-md-4">
            <h2>Build info</h2>
            <table class="table">
                <tbody class="text-light">
                    {% include templates/build_info.html %}
                </tbody>
            </table>
        </div>
    </div>
</div>