<div class="col-md-6 col-lg-4">
    <a href="{{ card.title_short }}" class="card text-left bg-grey-800 text-light">
        <div class="d-flex justify-content-center {{ card.logo_background }}" style="padding: 1rem 0;height: 200px; overflow: hidden;">
            {% if card.logo %}
                <img src="{{ card.logo }}" style="width: 50%; height: auto;" />
            {% else %}
                <h2 class="text-center" style="padding-top: 20%;">{{ card.title_short }}</h2>
            {% endif %}
        </div>
        <div class="card-body text-center">
            <h4 class="card-title">{{ card.title }} {{ card.version }}</h4>
            <!-- <p class="card-text">Body</p> -->
        </div>
    </a>
</div>