<div class="longbar bg-deep-purple-600 text-light">
    <div class="container"></div>
</div>
<nav class="navbar navbar-expand-sm tap-longbar fixed-top navbar-dark bg-grey-900" style="padding: 0.7rem 1rem;">
    <div class="container">
        <a class="navbar-brand" href="#">{{ site.title }}</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mt-0 mt-lg-0 ml-auto">
                <li class="nav-item {% if !page.title == 'Home' %}active{% endif %}">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item {% if !page.title == 'Roms' %}active{% endif %}">
                    <a class="nav-link" href="/roms">Roms</a>
                </li>
                <li class="nav-item {% if !page.title == 'Recovery' %}active{% endif %}">
                    <a class="nav-link" href="/recovery">Recovery</a>
                </li>
                <li class="nav-item {% if !page.title == 'Tutorials' %}active{% endif %}">
                    <a class="nav-link" href="/tutorials">Tutorials</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid bg-grad-purple-fantasy text-light">
    <div class="container">
        <h1 class="display-4">{{ page.title }}</h1>
        <p class="lead">{{ page.description }}</p>
    </div>
</div>
