---
layout: default
title: Recovery
permalink: recovery/
description: Start flashing on your zenfone3 [ZE520KL / ZE552KL]
---

<div class="container">
    <div class="row justify-content-center">
        {% for recoveries in site.data.recovery %}
        {% assign card = recoveries[1] %}
            {% include layout/carditem.html %}
        {% endfor %}
    </div>
</div>